<!DOCTYPE html>
<html lang = "ko">
<head>
  <meta charset = "UTF-8"/>
  <title>MY UNIVERSE</title>
  <link rel = "stylesheet" href= "/static/css/bootstrap.css"/>
  <link href= "/static/css/mystyle.css" type="text/css" rel="stylesheet"/>

</head>

<body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type = "text/javascript" src = "/static/js/bootstrap.js"></script>
  <script type = "text/javascript" src = "/static/js/jquery.js"></script>

  <div id = "login">
    <div class = "login_header_wrap">
      <div class = "logo_login">
        <a href="/"><img src= "/static/images/logo.png" width = "175" height = "auto" align="left"></a>
      </div>
      <div class = "login_menu">
        <a class = "go_register" href="/register">회원가입</a>
      </div>
    </div>


    <div class = "login_body">

      <div class = "login_par">
        <!-- <p class = "lpar">" Hello, Universe "</p> -->
        <center><img class = "lpar" src="/static/images/login/helloU.png" width = "414px" height = "50px"/></center>
      </div>



      <div class ="login_main_part">

        <div class ="login_box2">
          <form action="" method = "post" name = "login">
            {% csrf_token %}
            <input class = "input_info" name = "email" type="email" placeholder="email" onkeypress="JavaScript:press(this.form)" required>
            <input class = "input_info2" name = "password" type= "password" placeholder="password" onkeypress="JavaScript:press(this.form)" required>
            <div class = "ems">
            {% if error %}
                {{ error }}
            {% endif %}
            </div>

            <button class = "hvr-fade2-register" type="submit">LOGIN</button>
          </form>
        </div>


      </div>
<!--
      <div class = "login_pass">
        <a class = "pass_font" href="#">If you forgot your password click this</a>
      </div> -->

    </div>


  </div>






</body>
</html>
